example/secret.tfvars
example/.terraform/*
example/.terraform.lock.hcl
example/terraform.tfstate
example/terraform.tfstate.backup
provider/goreleaser.yml
provider/terraform-registry-manifest.json
example-dev/*